@use '../../styles/mixins.scss';

.Record {
  width: 380px;

  .record-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    margin: 30px;
    padding-left: 79px;
    min-height: 64px;

    line-height: 20px;
    font-family: Madera, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;

    &:disabled {
      cursor: default;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background:
        #D34037 url('../../images/record.svg') center center no-repeat;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
      transition: all .2s ease-in-out;
    }

    &:hover::before {
      background-color: #F3513E;
    }

    &.recording::before {
      background-image: url('../../images/stop.svg');
      box-shadow:
        0 0 20px rgba(243, 81, 62, 0.5),
        0 4px 4px rgba(0, 0, 0, 0.25);
    }

    time {
      display: block;
      font-family: Lato, sans-serif;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: .05em;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #B2B2B2;
    }
  }

  .expand {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 15px;
    line-height: 18px;
    color: #B2B2B2;
    font-size: 12px;
    transition: color .2s ease-in-out;

    &:hover {
      color: #CCCCCC;
    }

    &::before {
      content: '';
      display: block;
      margin-right: 6px;
      width: 18px;
      height: 18px;
      background: url('../../images/expand.svg') no-repeat;
      background-size: 100% 100%;
      transition: all .2s ease-in-out;
    }

    &.expanded::before {
      background-image: url('../../images/contract.svg');
    }
  }

  .recordings-list {
    padding: 10px 8px 10px 22px;
    max-height: 240px;
    background: #0D0D0D;
    @include mixins.scrollable(scroll);

    .empty {
      margin-left: 8px;
      color: #808080;
      font-size: 12px;
    }
  }
}
