.Recording {
  margin-right: 8px;
  padding: 8px;
  line-height: 20px;
  color: #808080;
  font-size: 12px;
  transition: all .2s ease-in-out;

  &.clickable {
    cursor: pointer;
  }

  &.selected,
  &:hover {
    color: #B2B2B2;
    background: #1A1A1A;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }

  &:hover {
    background: #1a1a1a80;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .title {
    padding: 0 4px;
    margin: 0 3px 0 -4px;
    font-weight: 400;
    font-size: 14px;
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    caret-color: white;
    cursor: text;
    outline: 0 solid transparent;
    outline-offset: 1px;
    border-radius: 1px;
    transition: all .1s ease-in-out;

    &:hover {
      outline: 1px solid #333333;
    }

    &[contenteditable=true]:focus {
      outline: 1px solid #808080;
      background-color: #000;
    }
  }

  &.playing .title::before {
    content: url('../../images/play-small.svg');
    display: inline-block;
  }

  .rename,
  .remove {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    color: #808080;
    visibility: hidden;
    opacity: 0;
    background: url('../../images/edit.svg') center center no-repeat;
    transition:
      color .2s ease-in-out,
      visibility .2s ease-in-out,
      opacity .2s ease-in-out;

    &:hover {
      opacity: 1 !important;
    }
  }

  .remove {
    background-image: url('../../images/remove.svg');
  }

  &:hover {

    .rename,
    .remove {
      visibility: visible;
      opacity: .8;
    }
  }

  .date {
    margin-left: auto;
  }

  .info {
    display: flex;
    align-items: center;
  }

  .duration {
    margin-left: auto;
  }
}
