.Main {
  position: relative;
  color: #fff;
  background: #1A1A1A;
  background-size: cover;
  overflow: hidden;

  &.ingame {
    border-radius: 8px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid #ffffff55;
      border-radius: 8px;
      pointer-events: none;
      contain: strict;
    }
  }
}
