.EventTooltip {
	margin-left: -2px;
	padding: 2px;
	border-radius: 2px;
	cursor: pointer;
	transition: background-color .2s ease-in-out;
	overflow: hidden;
	contain: content;

	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.event {
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: #E5E5E5;

		+.event {
			margin-top: 2px;
		}
	}

	.count {
		margin-top: 3px;
		line-height: 9px;
		// font-family: 'Madera', sans-serif;
		font-weight: 700;
		font-size: 10px;
		color: #E5E5E5;
	}
}

@keyframes EventTooltipContent-fade-in {
	from {
		opacity: 0;
		transform: translateY(6px);
	}
}

@keyframes EventTooltipContent-fade-out {
	to {
		opacity: 0;
		transform: translateY(-3px);
	}
}

.EventTooltipContent {
	position: fixed;
	z-index: 999999999;
	max-width: 280px;
	padding-left: 8px;
	line-height: 16px;
	background: rgba(38, 38, 38, 0.65);
	border-radius: 6px;
	backdrop-filter: blur(8px);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
	animation: EventTooltipContent-fade-in .1666666s ease-in-out;
	pointer-events: none;

	&.open {
		user-select: text;
		pointer-events: auto;
	}

	.close {
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		background: url('../../images/close.svg') center center no-repeat;
	}

	.chunk-title {
		line-height: 30px;
		color: #E5E5E5;
		font-family: Madera, sans-serif;
		font-weight: 700;
		font-size: 11px;
	}

	.events-list {
		margin-right: 3px;
		padding-right: 3px;
		padding-bottom: 8px;
		max-height: 380px;
		overflow-x: hidden;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 6px;
			height: 6px;
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background: #4D4D4D;
			border-radius: 3px;

			&:hover {
				background: #666;
			}
		}

		&::-webkit-scrollbar-button {
			height: 8px;
		}
	}

	.event {
		position: relative;
	}

	&.open .event+.event {
		margin-top: 8px;
	}

	.title {
		line-height: 16px;
		color: #999;
		font-family: Madera, sans-serif;
		font-weight: 500;
		font-size: 11px;
		font-feature-settings: 'tnum' on, 'lnum' on;

		strong {
			color: #E5E5E5;
			font-weight: inherit;
		}
	}

	.copy {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 24px;
		height: 24px;
		color: #000;
		background: url('../../images/copy.svg') center center no-repeat;
		background-size: 12px;
		visibility: hidden;
		opacity: 0;
		transition:
			visibility .2s ease-in-out,
			opacity .2s ease-in-out,
			transform .05s ease-in-out;
	}

	.event:hover .copy {
		visibility: visible;
		opacity: .7;

		&:hover {
			opacity: 1;
		}

		&:active {
			transform: translateY(1px);
		}
	}

	.data {
		margin-top: 2px;
		padding: 6px !important;
		color: #999;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 3px;
		font-family: Consolas, monospace;
		font-size: 11px;
		padding: 6px !important;
		background: rgba(0, 0, 0, 0.5) !important;
		border-radius: 3px;

		&::-webkit-scrollbar {
			width: 6px;
			height: 6px;
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background: #4D4D4D;
			border-radius: 3px;

			&:hover {
				background: #666;
			}
		}
	}
}
