.AppHeader {
  position: relative;
  height: 86px;
  background: #0D0D0D;

  .logo {
    position: absolute;
    left: 15px;
    top: 12px;
    width: 198px;
    height: 24px;
    pointer-events: none;
  }

  .tabs {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 15px;
  }

  .tab {
    height: 30px;
    padding: 0 15px;
    line-height: 34px;
    border-radius: 8px 8px 0 0;
    font-family: 'Madera', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.095em;
    text-transform: uppercase;
    color: #E5E5E5;
    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: #1a1a1a8c;
    }

    &.active {
      background-color: #1A1A1A;
    }
  }

  .window-controls {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }

  .window-control {
    width: 30px;
    height: 30px;
    background-color: #999;
    mask: center center no-repeat;
    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: #E5E5E5;
    }

    &.minimize {
      mask-image: url('../../images/minimize.svg');
    }

    &.close {
      mask-image: url('../../images/close.svg');
    }
  }
}
