@keyframes tooltip-fade-in {
	from {
		opacity: 0;
		transform: translateY(6px);
	}
}

@keyframes tooltip-fade-out {
	to {
		opacity: 0;
		transform: translateY(-3px);
	}
}

.tooltip-layer {
	position: fixed;
	z-index: 10000000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	animation: tooltip-fade-in 200ms ease-in-out;
	filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
	will-change: opacity, transform;
	contain: strict;
	pointer-events: none;

	&.fade-out {
		animation: tooltip-fade-out 100ms ease-in-out;
	}
}

.tooltip-tip {
	position: absolute;
	border: 1px solid #E5E5E5;
	padding: 6px 13px;
	max-width: 250px;
	line-height: 14px;
	color: #fff;
	background: #3B3B3B;
	font-style: italic;
	font-weight: 400;
	font-size: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

	p:not(:last-child) {
		margin-bottom: 18px;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 100%;
		left: 5px;
		width: 16px;
		height: 9px;
		background: url('../../images/tooltip-arrow.svg') 0 0 no-repeat;
		background-size: 100% 100%;
	}

	&.right::after {
		left: auto;
		right: 5px;
		transform: scaleX(-1);
	}
}
