.ProgressBar {
  position: relative;
  height: 12px;
  cursor: pointer;
  contain: layout;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 0;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    pointer-events: none;
    transition:
      height .2s ease-in-out,
      border-radius .2s ease-in-out,
      background-color .2s ease-in-out;
  }

  .fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    height: 4px;
    background-color: #D34037;
    border-radius: 2px;
    pointer-events: none;
    transition: all .2s ease-in-out;
  }

  @keyframes ProgressBar-fill-changing {
    from {
      background-position: -8px 0;
    }

    to {
      background-position: 0 0;
    }
  }

  &.changing .fill {
    animation: ProgressBar-fill-changing .2s infinite;
    background: repeating-linear-gradient(45deg,
        #D34037,
        #D34037 4px,
        #F3513E 4px,
        #F3513E 8px);
  }

  .handle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0 auto -6px;
    width: 12px;
    height: 12px;
    background-color: #F3513E;
    border-radius: 50%;
    pointer-events: none;
    transition: background-color .2s ease-in-out;
  }

  &:not(.mouse-down) .handle {
    transition:
      background-color .2s ease-in-out,
      left .2s ease-in-out;
  }

  &.disabled {
    cursor: default;

    .fill,
    .handle {
      display: none;
    }
  }

  // &.changing {
  //   .handle {
  //     display: none;
  //   }
  // }

  &:not(.disabled):hover {

    &::before,
    .fill {
      height: 8px;
      border-radius: 4px;
    }

    .handle {
      background-color: #fff;
    }
  }
}
